body {
	font-size: 14px;
}

input[type="checkbox"] {
	display: none;
}

label {
	font-weight: bold;
	text-decoration: underline;
}

label[for="red"] {
	color: red;
	margin-left: 55px;
}

#red:checked~label[for="red"] {
	opacity: .2;
}

#red:checked~.red {
	display: none;
}

label[for="green"] {
	color: green;
	margin: 30px;
}

#green:checked~label[for="green"] {
	opacity: .2;
}

#green:checked~.green {
	display: none;
}

label[for="blue"] {
	color: blue;
	margin-right: 25px;
}

#blue:checked~label[for="blue"] {
	opacity: .2;
}

#blue:checked~.blue {
	display: none;
}

.red,
.green,
.blue {
	border-radius: 7px;
	padding: 2px 7px;
	color: white;
}

.red {
	background: red;
}

.green {
	background: green;
}

.blue {
	background: blue;
}