body {
	max-width: 600px;
	margin: auto;
	font-size: 16px;
}

h1 {
	color: #FFA500;
	text-align: right;
}

.h2_first {
	color: #FFA500;
}

.h2_second {
	color: #0055FF;
}

p:first-letter {
	color: red;
	font-size: 28px;
	font-weight: bold;
}

.highlight {
	color: white;
	font-style: italic;
	background-color: #008000;
	font-weight: bold;
}

.list_ul {
	font-weight: bold;
}

.list_gray {
	color: #808080;
}

.list_red {
	color: #FF2D40;
}

.list_green {
	color: #3A9327;
}

table {
	margin-bottom: 40px;
}

.th_1 {
	width: 123px;
}


td:first-child {
	color: #FFA721;
}

.cells {
	background: #008000;
	color: white;
	width: 90px;
	text-align: center;
}