body {
  text-align: center;
  max-width: 2000px;
  margin: auto;

}

h2 {
  margin-bottom: 100px;
  text-transform: uppercase;
  margin-bottom: 70px;
}

div {
  display: inline-block;
  margin: auto;
  position: relative;
  vertical-align: top;
  width: 380px;
  margin: 0 10px;
}

img {
  margin-bottom: 10px;
}

img+p {
  color: #7CACF1;
  font-size: 20px;
  margin-bottom: 50px;
}